* {
    box-sizing: border-box;
}

#app {
    border: 5px solid black;
    width: 700px;
    height: 700px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    background:#5bccf6;
}

.turn {
    padding: 12px;
}

.status {
    padding: 12px;
    flex-grow: 1;
    text-align: center;
}

.restart {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.board {
    display: grid;
    background: #fcde67;
    gap: 10px;
    padding: 10px;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.boxes {
    background: lightgray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: #222222;
    border: 2px solid black;
}

.boxes:hover {
    background: gray;
}

